{% from "partial/result_lines.html" import result_lines -%}

{% macro mixed_list(mixed, www_root, tree) -%}
  {% for result in mixed %}
    {# TODO next: fill out some pretty css/html here. #}
    <div>
      <span class="mixed_path">{{ result.pathLine | safe }}</span>
      <div>
        {% for entry in result.lines %}
          <span class="left-column">
           <a href="{{ www_root }}/{{ tree }}/source/{{ result.path }}#{{ entry.line_number }}">
             {{ entry.line_number }}
           </a>
         </span>
         <span>
           <a href="{{ www_root }}/{{ tree }}/source/{{ result.path }}#{{ entry.line_number }}">
             <code aria-labelledby="{{ entry.line_number }}">{{ entry.line|safe }}</code>
           </a>
         </span>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{%- endmacro %}

{# When not being included as a macro, render the code above. #}
{{ mixed_list(mixed, www_root, tree) }}