{% from "partial/result_lines.html" import result_lines -%}

{% macro promoted_list(query, promoted, www_root, tree) -%}
  {% for result in promoted %}
    <div class="promoted_icon {{ result.iconClass }}"></div>
    <div class="promoted_result">
      <span class="promoted_path">{{ result.pathLine | safe }}</span>
    {# TODO next: give a link to more ids and paths results #}
      {% for entry in result.lines %}
        <div class="promoted_line">
          <span class="left-column">
           <a href="{{ www_root }}/{{ tree }}/source/{{ result.path }}#{{ entry.line_number }}">
             {{ entry.line_number }}
           </a>
         </span>
         <span class="promoted_text">
           <a href="{{ www_root }}/{{ tree }}/source/{{ result.path }}#{{ entry.line_number }}">
             <code aria-labelledby="{{ entry.line_number }}">{{ entry.line|safe }}</code>
           </a>
         </span>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
  <div class="promoted_see_more">
    <a href="{{ www_root }}/{{ tree }}/search?q=id:{{ query }}">See all identifier results...</a><br>
    <a href="{{ www_root }}/{{ tree }}/search?q=path:{{ query }}">See all path results...</a>
  </div>
{%- endmacro %}

{# When not being included as a macro, render the code above. #}
{{ promoted_list(query, promoted, www_root, tree) }}