{% from "partial/result_lines.html" import result_lines -%}

{% macro promoted_list(promoted, www_root, tree) -%}
  {% for result in promoted %}
    {# TODO next: fill out some pretty css/html here. #}
    <div class="promoted_icon {{ result.iconClass }}"></div>
    <div class="promoted_result">
      <span class="promoted_path">{{ result.pathLine | safe }}</span>
      {% for entry in result.lines %}
        <div class="promoted_line">
          <span class="left-column">
           <a href="{{ www_root }}/{{ tree }}/source/{{ result.path }}#{{ entry.line_number }}">
             {{ entry.line_number }}
           </a>
         </span>
         <span class="promoted_text">
           <a href="{{ www_root }}/{{ tree }}/source/{{ result.path }}#{{ entry.line_number }}">
             <code aria-labelledby="{{ entry.line_number }}">{{ entry.line|safe }}</code>
           </a>
         </span>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{%- endmacro %}

{# When not being included as a macro, render the code above. #}
{{ promoted_list(promoted, www_root, tree) }}